# Telegram Bot Framework
python-telegram-bot[ext]>=21.1.1,<22.0.0

# OpenAI API Client
openai>=1.35.7,<2.0.0

# Environment Variable Management
python-dotenv>=1.0.1,<1.1.0

# Third-party libraries for tools
BingImageCreator>=0.5.0,<0.6.0
httpx[http2]>=0.27.0,<0.28.0
pytz>=2024.1,<2025.0
beautifulsoup4>=4.12.3,<4.13.0

# Document handling
python-docx>=1.1.0,<2.0.0
odfpy>=1.4.1,<2.0.0